/* Stylesheet for Assignment 4 */
header {
  background: black;
  color: white;
}

footer {
  background: black;
  color: white;
  clear: both;
}

nav {
  background: gray;
  text-align: center;
}

.call-to-action {
  float: right;
}

header h1 { clear: right;}

a {
  color: red;
}

nav a {
  color: blue;
}

aside {
  float: right;
  border: 1px solid black;
}

article {
  float: left;
}

footer p {
  text-align: center;
}

figure a {
  float: right;
}

figure figcaption {
  text-align: center;
}

figure h3 {
  text-align: center;
}